
<!--底部 start-->
<footer>
    <!--第一行   品类齐全，轻松购物-->
    <div class="service">
        <div class="w ">
            <ul>
                <li><h5 ></h5><p>品类齐全，轻松购物</p></li>
                <li><h5 ></h5><p>品类齐全，轻松购物</p></li>
                <li><h5 ></h5><p>品类齐全，轻松购物</p></li>
                <li><h5 ></h5><p>品类齐全，轻松购物</p></li>

            </ul>
        </div>
    </div>
    <!--第二行 购物指南-->
    <div class="w help">
        <div class="fl kuan" >
            <dl>
                <dt>购物指南</dt>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
            </dl>
            <dl>
                <dt>购物指南</dt>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
            </dl>
            <dl>
                <dt>购物指南</dt>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
            </dl>
            <dl>
                <dt>购物指南</dt>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
            </dl>
            <dl>
                <dt>购物指南</dt>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
            </dl>
        </div>
        <div class="fr cover">
            <h5>帮助中心</h5>
            <img src="images/二维码.jpg" alt="二维码">
        </div>
    </div>
</footer>
<!--底部 end-->

</body>
<script src="javascripts/indexs.js"></script>
</html>