.logoArea {
    height: 84px;
}

.loginArea {
    height: 487px;
    background-color: #7e00ff;
}

.copyright {
    text-align: center;
    line-height: 24px;
}

.logo {
    position: absolute;
    width: 182px;
    height: 78px;
    background: url(../images/icons.png) no-repeat;
    background-position: -367px 0;
}

.login {
    height: 487px;
    background: url(../images/loginbg.png) no-repeat;
}

.loginform {
    position: relative;
    top: 50%;
    margin-top: -155px;
    float: right;
    width: 350px;
    background: #fff;
}

img {
    display: block;
    margin: 0 auto;
}

.form {
    margin-top: 15px;

}
/*.sui-form {*/
    /*margin: 0 0 18px;*/
    /*font-size: 12px;*/
    /*line-height: 18px;*/
/*}*/

span.loginname {
    background-image: url(../images/icons.png);
    background-position: -10px -201px;
}

.form .input-prepend {
    width: 100%;
    margin-bottom: 16px;
}

.form .input-prepend input {
    width: 258px;
    height: 35px;
}

.nav.nav-tabs.tab-wraped>li {
    width: 50%;
}

.nav.nav-tabs.tab-wraped>li>a {
    padding: 0;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}

.nav.nav-tabs.tab-wraped>li.active>a {
    padding-top: 0;
    border-top: 1px solid #28a3ef;
    color: #c8111a;
}

.form .input-prepend .add-on {
    width: 37px;
    height: 35px;
    background-color: #ccc;
    float: left;
}

.loginpwd {
    display: block;
    width: 25px;
    height: 23px;
    background-image: url(../images/icons.png);
    background-position: -72px -201px;
}

.setting {
    position: relative;
    margin: 25px 0px 10px 20px;
    font-size: 12px;
    line-height: 19px;
}

.setting .forget {
    position: absolute;
    right: 0;
    top: 0;
}

.btn-danger {
    padding: 6px;
    border-radius: 0;
    background-color: #c81623;
    word-spacing: 4px;
    font-size: 16px;
    font-family: 微软雅黑;
}

.otherlogin {
    position: relative;
    margin-top: 30px;
}

.otherlogin .register {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
}

.types ul li {
    display: inline-block;
    width: 40px;
    height: 55px;
    list-style-type: none;
    *display: inline;
    *zoom: 1;
}

.copyright ul li {
    display: inline-block;
    margin: 15px 0;
    padding: 0 20px;
    border-right: 1px solid #e4e4e4;
    list-style-type: none;
    *display: inline;
    *zoom: 1;
}

.copyright ul li:last-child {
    border-right: 0;
}

.logoArea {
    height: 78px;
    /* border-bottom: 2px solid #c81523; */
}

.logo {
    position: absolute;
    width: 182px;
    height: 78px;
    background: url(../images/icons.png) no-repeat;
    background-position: -367px 0;
}

.registerArea {
    margin: 15px 0 ;
    border: 1px solid #dfdfdf;
    font-family: "微软雅黑";
    padding-bottom: 30px;
}

.registerArea h3 {
    margin: 0;
    padding: 6px 15px;
    border-bottom: 1px solid #dfdfdf;
    background: #ececec;
    color: #333;
    font-size: 20.04px;
    line-height: 30.06px;
    font-weight: 700;
}

h3 .go {
    float: right;
    font-size: 14px;
    line-height: 30.06px;
    font-weight: 700;
}

.btn-reg {
    width: 270px;
}

.info {
    margin: 40px auto;
    width: 600px;
}

.control-label {
    font-size: 14px;
}

.sui-form input[type=text].input-xfat.input-xlarge,
.sui-form input[type=password].input-xfat.input-xlarge {
    width: 250px;
    height: 24px;
    border: 1px solid #999;
    border-radius: 0;
}

.sui-form .control-group label {
    *display: inline;
    *zoom: 1;
    *float: left;
}

#submit {
    padding: 5px 80px;
    background-color: #c81523;
    font-family: "微软雅黑";
}

.reg {
    width: 221px;
}

.btn-danger {
    padding: 6px;
    border-radius: 0;
    background-color: #c81623;
    word-spacing: 4px;
    font-size: 16px;
    font-family: 微软雅黑;
}

.copyright {
    text-align: center;
    line-height: 24px;
}

.copyright ul li {
    display: inline-block;
    margin: 15px 0;
    padding: 0 20px;
    border-right: 1px solid #e4e4e4;
    list-style-type: none;
    *display: inline;
    *zoom: 1;
}

.copyright ul li:last-child {
    border-right: 0;
}


/* 修改部分代码 */

.forget {
    cursor: pointer;
}

.registration li {
    list-style: none;
    float: left;
    margin-right: 20px;
}

.registration li a {
    width: 34px;
    height: 34px;
    display: block;
    background: url("../images/regetype.png") no-repeat -18px -7px;
}

.registration li:nth-child(2) a {
    background-position: -70px -7px;
}

.registration li:nth-child(3) a {
    background-position: -122px -7px;
}

.registration li:nth-child(4) a {
    background-position: -175px -7px;
}

.registration>a {
    float: right;
    margin-top: 10px;
    font-size: 12px;
}

.tab-content.tab-wraped {
    border-bottom: 0 none;
}

.registration {
    padding-bottom: 25px;
}

.py-container.copyright a {
    color: #666;
}

.sui-form.form-horizontal .controls input[type="checkbox"] {
    background: url("../images/checked.png") no-repeat;
}
#index {
    height:153px;
}
#index img{
    margin-top:50px;
}

/*自己添加*/
.sui-nav {
    margin-bottom: 18px;
    margin-left: 0;
    list-style: none;
}

.py-container {
    margin: 0 auto;
    width: 1200px;
}

.sui-nav.nav-tabs.tab-wraped>li {
    margin-left: 0;
    width: 25%;
}

.sui-nav.nav-tabs.tab-wraped>li>a {
    margin-left: 0;
    padding: 20px;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    background: #fcfcfc;
    color: #666;
}

.sui-nav.nav-tabs.tab-wraped>li>a:hover {
    background: #fff;
}

.sui-nav.nav-tabs.tab-wraped>li+li>a {
    border-left: 1px solid #ddd;
}

.sui-nav.nav-tabs.tab-wraped>li.active>a {
    padding-top: 18px;
    border-top: 3px solid #28a3ef;
    border-bottom: 1px solid #fff;
    background: #fff;
    font-weight: 400;
}

.sui-nav.nav-tabs.tab-wraped>li h3 {
    color: #333;
    text-align: center;
}

.sui-nav.nav-tabs.tab-wraped>li ul {
    margin: auto;
}

.sui-nav.nav-tabs.tab-wraped>li li {
    margin: 5px 0;
}

.sui-nav.nav-tabs.tab-wraped>li strong {
    vertical-align: middle;
    font-size: 120%;
}

.sui-nav.nav-tabs.tab-wraped>li label {
    display: inline-block;
    margin-right: 10px;
    width: 70px;
    color: #999;
    text-align: right;
    cursor: pointer;
}

.sui-nav.nav-tabs.tab-wraped.column3>li {
    width: 33.333%;
}

.sui-nav.nav-tabs.tab-wraped.column5>li {
    width: 20%;
}

.tab-content.tab-wraped {
    padding: 18px;
    border: 1px solid #ddd;
    border-top: 0;
}
.sui-form .checkbox.inline,
.sui-form .radio.inline {
    display: inline-block;
    margin-top: 0;
}

.btn-xlarge {
    margin-left: 30px;
    padding: 4px 20px;
    font-size: 14px;
    line-height: 22px;
    width: 255px;
}

.asideLi{
    width: 175px;
    margin: 0px;
    align-content: center;
    text-align: center;

}
/*注册*/
.label-fonst{
    font-weight: normal;
}
.text-left{
    width: 230px;
    height: 35px;
}
#tip{
    margin-left: 111px   ;
}
